#key{
	position:absolute;
	display:none;
	box-shadow:10px 10px 10px rgba(0,0,0,0.4);
	margin:8px;
}
.numberKey td{
	width:40px;
	height:40px;
	background-color:blue;
	color:white;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	font-size:32px;
	border:1px solid white;
	cursor:pointer;
}
.numberKey td.clear{
	width:auto;
	background-color:#666;
	font-size:24px;
}
.numberKey td:hover{
	background-color:red;
}
.numberKey td:active{
	background-color:black;
}